@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
}
.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

ul li {
  list-style: none;
}
/* test */
.btn-primary,
.btn-outline-primary {
  background-color: #4ca549;
  color: #000000;
  border: 1px black dashed;
}

/*! hamepage banners */
.home-banners {
  /* background-color: #00a92a; */
}

.home-banners .carousel {
  /* background-color: #d3d3d3; */
  width: 100%;
  /* height: 20vh; */
  margin: 5rem 0;
}

.home-banners .carousel .carousel-items {
  /* background-color: #4ca549; */
  width: 100%;
  /* height: 30vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
/* .card-img-top {
  width: 300px;
  height: 300px;
} */
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  /* border-bottom: 0.2rem solid #a0a0a0; */
  margin: 20px 0;
  color: #ffffff;
  background-color: #a0a0a0;
  /* border-radius: 10px; */
}

#first-step {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#last-step {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.checkout-steps > div.active {
  /* border-bottom: 0.2rem solid #f08000;
  color: #f08000; */
  /* border-bottom: 0.2rem solid #00a92a; */
  background-color: #00a92a;
  color: white;
  /* background-color: #000000; */
}

/*! sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #000000;
  transition: 0.3s;
}

.site-container {
  transition: 0.3s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

footer {
  margin-top: 20px;
  background-color: #c9c9c9;
  padding: 2rem 0;
}

.social-icons li a {
  color: black;
  font-size: 1.5rem;
}

.contacts {
  font-size: 1.2rem;
}

.contacts .message-btn {
  color: #00a92a;
  text-decoration: none;
  font-weight: 700;
}

.contact-box form {
  /* background-color: #4ca549; */
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.contact-box form label {
  font-size: 1.5rem;
  color: black;
  margin: 10px 0;
  font-weight: 600;
}

.contact-box form input,
form textarea {
  font-size: 1.2rem;
  /* width: 50%; */
  padding: 15px 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
}
.contact-box form textarea {
  resize: none;
  margin: 0 0 20px;
}

.header-mainpage {
  background-color: #000000;
  width: 100%;
  /* height: 25vh; */
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.header-mainpage .header-greetings {
  font-size: 2rem;
  color: white;
}

.header-mainpage .header-discription {
  font-size: 1.2rem;
  color: white;
  margin: 20px 0;
}

.header-mainpage .header-logo {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://images.unsplash.com/photo-1614850523503-6e4ef43bee40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.empty-cart-message {
  /* background-color: #00a92a; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.empty-cart-message a i {
  font-size: 4rem;
  margin: 30px 0;
  color: black;
  transition: 0.3s ease;
}

.empty-cart-message a i:hover {
  text-shadow: 0 0 10px #4ca549;
}

.empty-cart-message p {
  font-size: 2rem;
}

.cart-product-item-box img,
.order-page-main-section img,
.submit-order-page-main-section img {
  width: 30%;
  height: 30%;
}
.order-page-main-section a {
  color: #4ca549;
}

.minus-btn-cart,
.plus-btn-cart {
  background-color: transparent;
  text-align: center;
  border: none;
  margin: 0 5px;
  font-weight: 900;
}

.trash-cart-btn {
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  width: 40px;
  height: 40px;
  /* text-align: center; */
  background-color: transparent;
  transition: 0.3s ease;
}

.trash-cart-btn:hover {
  background-color: red;
  color: white;
}
.trash-cart-btn i {
  font-size: 1.5rem;
}

.cart-page-title,
.all-orders-page-title,
.payment-page-title,
.submit-order-page-title,
.user-page-title,
.contact-page-title {
  text-align: center;
}

.checkout-btn-cart {
  border: 1px solid black;
  background-color: #4ca549;
  margin: 20px 0 0;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 5px 10px;
}

.error-box {
  background-color: rgba(255, 71, 71, 0.51);
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  margin: 60px 0;
}

.table td a {
  color: #4ca549;
}

.status-box-done {
  background-color: #4ca549;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-box-undone {
  background-color: #ff3434a2;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-order-body,
.submit-order-body {
  line-height: 40px;
}

.line-horizontal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.submit-payment-btn,
.product-add-cart-btn {
  font-size: 1.2rem;
  background-color: #4ca549;
  border: 1px solid black;
  border-radius: 5px;
}

.submit-order-body a {
  color: #4ca549;
}

.submit-order-body .edit-btn {
  color: #4ca549;
  font-size: 1rem;
  border: 2px solid #4ca549;
  padding: 2px 8px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  /* margin-left: 50rem; */
}

.submit-order-btn-confirmation {
  font-size: 1.2rem;
  background-color: #4ca549;
  border: 1px solid black;
  border-radius: 5px;
}

.list-group-info-product {
  line-height: 40px;
}

.list-group-info-product button {
  margin-top: 20px;
}

.user-update-btn,
.submit-register-btn,
.submit-login-btn,
.shipping-btn {
  font-size: 1.2rem;
  background-color: #4ca549;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.shipping-btn {
  /* float: right; */
  width: 100%;
}

.user-update-form,
.register-form,
.login-form,
.shipping-form {
  line-height: 40px;
}

.signin-page-title,
.login-page-title,
.shipping-page-title {
  text-align: center;
}

.register-btns-container a,
.login-btns-container a {
  margin-left: 20px;
}

.search-page-main-section a {
  color: #000;
  text-decoration: none;
}

.reset-filter-btn {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: transparent;
  border: 1px solid red;
  color: red;
}

.navbar-main {
  background-color: rgb(0, 0, 0);
}

.navbar-main .logo-nav {
  color: white;
  letter-spacing: 5px;
}

.search-form .input-search-product {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid white;
  border-radius: 2px;
  margin-left: 320px;
  padding: 5px;
  color: black;
}

.navbar-second a {
  color: white !important;
}
.navbar-second a:active {
  color: white;
}

.navbar-second a:hover {
  color: white;
}

.dropdown-user .show {
  background-color: black;
}

.dropdown-user .show a:hover {
  background-color: #4ca549;
}

.dropdown-user .active {
  background-color: #4ca549;
}

.main-page-title {
  margin: 40px 0;
  text-align: center;
}

.solo-product-name {
  color: black;
  text-decoration: none;
  text-align: center;
}

.solo-product-name:hover {
  color: #4ca549;
}

.solo-product-card {
  border: 2px solid black;
  margin: 10px auto;
  border-radius: 5px;
  transition: 0.3s ease;
}

.solo-product-card:hover {
  box-shadow: 0px 0px 5px black;
}

.product-big-page, .cart-page-main-section, .shipping-page-main-section, .payment-page-main-section, .all-orders-page-main-section{
  min-height: 70vh;
}
.solo-product-btn-finished {
  opacity: .5;
}
.solo-product-btn-finished,
.solo-product-btn-available {
  background-color: rgba(255, 75, 75, 0.507);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.solo-product-btn-available {
  background-color: #4ca549;
}

.card-cart {
  border: 1px solid black;
  /* background-color: red; */
  border-radius: 5px;
  height: 300px;
}

.cart-col-products {
  border: 1px solid black;
  border-radius: 5px;
}

.form-payment {
  display: flex;
  margin: 60px auto;
  justify-content: space-between;
  align-items: center;
}

.submit-payment-btn {
  width: 100%;
}

.devilery-container-order {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: #000; */
}

.total-confirm-container {
  background-color: black;
  color: white;
  margin: 30px 0;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.orders-col-all-orders {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.login-page-main, .register-page-main {
  min-height: 70vh;
}

.full-product-name {
  text-align: center;
}

.row-full-product {
  margin: 50px 0;
}

.product-add-cart-btn {
  margin: 50px 0;
  font-size: 1.5rem;
}

.active-filter {
  border: 1px solid black;
  padding: 2px;
  border-radius: 4px;
}