@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
}
.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

ul li {
  list-style: none;
}
/* test */
.btn-primary,
.btn-outline-primary {
  background-color: #4ca549;
  color: #000000;
  border: 1px black dashed;
}

/*! hamepage banners */
.home-banners {
  /* background-color: #00a92a; */
}

.home-banners .carousel {
  /* background-color: #d3d3d3; */
  width: 100%;
  /* height: 20vh; */
  margin: 5rem 0;
}

.home-banners .carousel .carousel-items {
  /* background-color: #4ca549; */
  width: 100%;
  /* height: 30vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
/* .card-img-top {
  width: 300px;
  height: 300px;
} */
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  /* border-bottom: 0.2rem solid #f08000;
  color: #f08000; */
  border-bottom: 0.2rem solid #00a92a;
  color: #00a92a;
}

/*! sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #000000;
  transition: 0.3s;
}

.site-container {
  transition: 0.3s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

footer {
  margin-top: 20px;
  background-color: #c9c9c9;
  padding: 2rem 0;
}

.social-icons li a {
  color: black;
  font-size: 1.5rem;
}

.contacts {
  font-size: 1.2rem;
}

.contacts .message-btn {
  color: #00a92a;
  text-decoration: none;
  font-weight: 700;
}

.contact-box form {
  /* background-color: #4ca549; */
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.contact-box form label {
  font-size: 1.5rem;
  color: black;
  margin: 10px 0;
  font-weight: 600;
}

.contact-box form input, form textarea {
  font-size: 1.2rem;
  /* width: 50%; */
  padding: 15px 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
}
.contact-box form textarea  {
  resize: none;
  margin: 0 0 20px;
}